.details-container {
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 125px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 45px;
}

.details-header {
  position: relative;
  margin: 5px 175px;
  display: flex;
  flex-direction: column;
  max-width: 1405px;
}

.details-header p {
  font-size: 18px;
  font-weight: 500;
  padding-left: 22px;
}

.details-header .star {
  position: absolute;
  top: 9px;
  font-size: 16px;
}

.details-header span:not(.period) {
  text-decoration: underline;
  cursor: pointer;
}

.period {
  font-size: 18px;
  color: #717171;
  padding: 0 5px;
}

i {
  top: 80px;
  font-size: 14px;
}

.details-sub-header {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px 0px 30px 0px;
}

.details-sub-header-info {
  position: absolute;
  top: 7px;
  left: 2px;
}

.details-sub-header-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: -8px;
  top: -3px;
}

.details-sub-header-buttons i {
  color: #5d5d5d;
  font-size: 18px;
  padding-left: 5px;
}

.details-sub-header-buttons p {
  text-decoration: underline;
  padding: 0 10px;
}

.details-sub-header-buttons button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -3px;
  width: 100px;
  height: 40px;
  border-radius: 12px;
}

.details-sub-header-buttons button:hover {
  background-color: #f7f7f7;
}

.details-images-container {
  margin: 25px 175px;
  display: flex;
  justify-content: center;
}

.details-description-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px 175px 0px 175px;
}

.details-description-content-container {
  margin-right: 120px;
}

.details-description-header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.details-description-header-left p {
  font-size: 22px;
  font-weight: 300;
  margin-top: 10px;
}

.details-description-header-right i {
  position: absolute;
  right: 0px;
  font-size: 68px;
}

.details-description-header-right img {
  top: 4px;
  position: absolute;
  right: 0px;
  font-size: 68px;
  border-radius: 60px;
  width: 70px;
}

.details-description-extras-container {
  border-bottom: 1px solid #ebebeb;
}

.details-description-extras-container i {
  font-size: 24px;
}

.details-description-extras {
  display: flex;
  flex-direction: row;
}

.details-description-extras div {
  font-size: 21px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 45px;
}

.details-description-extras-light {
  color: #717171;
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0;
}

.details-description-description-container {
  font-size: 18px;
  margin: 45px 0;
  max-width: 825px;
  max-height: 825px;
}

.details-description-description-container .description {
  font-size: 18px;
  margin: 45px 0;
  overflow-wrap: break-word;
}

.details-reviews-container {
  border-top: 1px solid #ebebeb;
  margin: 0 175px;
}

.booking-card-container {
  height: 95%;
}

.spot-booking-container {
  top: 120px;
  position: sticky;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0px 4px 10px -2px #cecece;
}

.spot-booking-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spot-booking-button-container {
  display: flex;
  justify-content: center;
}

.spot-booking-button-container button {
  color: white;
  width: 100%;
  background-color: #53bceb;
  border-radius: 12px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.spot-booking-header {
  position: relative;
}

.spot-booking-header-left {
  font-weight: bold;
}

.spot-booking-header-left-price span {
  font-weight: 300;
  font-size: 18px;
}

.spot-booking-header-right {
  position: absolute;
  bottom: 2px;
  right: 0px;
  font-weight: 300;
  font-size: 18px;
}

.spot-booking-header-right i {
  font-size: 18px;
}

@media (min-width: 2133px) {
  .details-images-container {
    max-width: 1405px;
  }
  .details-container {
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .details-reviews-container {
    max-width: 1405px;
  }
  .details-header {
    width: 1745px;
  }
  .details-reviews-container {
    width: 1745px;
  }
}

@media (min-width: 1745px) and (max-width: 1919px) {
  .details-images-container {
    margin: 20px 105px;
  }
  .details-description-container {
    margin: 20px 105px;
  }
  .details-header {
    margin: 20px 105px;
  }
  .details-reviews-container {
    margin: 20px 105px;
  }
}

@media (min-width: 1536px) and (max-width: 1744px) {
  .details-images-container {
    margin: 20px 20px;
  }
  .details-description-container {
    margin: 20px 20px;
  }
  .details-header {
    margin: 20px 20px;
  }
  .details-reviews-container {
    margin: 20px 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .details-container {
    padding: 125px 60px;
  }
  .details-images-container {
    margin: 10px 0px;
  }
  .details-description-container {
    margin: 10px 0px;
  }
  .details-header {
    margin: 10px 0px;
  }
  .details-reviews-container {
    margin: 10px 0px;
  }
}

@media (min-width: 1097.14px) and (max-width: 1279px) {
  .details-description-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .details-description-content-container {
    margin: 10px 0px;
  }
  .details-images-container {
    margin: 10px 0px;
  }
  .details-description-container {
    margin: 10px 0px;
  }
  .details-header {
    margin: 10px 0px;
  }
  .details-reviews-container {
    margin: 10px 0px;
  }
}

@media (max-width: 1097.13px) {
  .details-images-container {
    margin: 10px 0px;
  }
  .details-description-container {
    margin: 10px 0px;
  }
  .details-header {
    margin: 10px 0px;
  }
  .details-reviews-container {
    margin: 10px 0px;
  }
  .details-description-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .details-description-content-container {
    margin: 10px 0px;
  }
}
