.details-container {
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 125px;
  padding-left: 80px;
  padding-right: 80px;
}

.details-header {
  position: relative;
  margin: 5px 175px;
  display: flex;
  flex-direction: column;
}

.details-header p {
  font-size: 18px;
  font-weight: bold;
}

.details-header span:not(.period) {
  text-decoration: underline;
  cursor: pointer;
}

.period {
  font-size: 12px;
  color: #717171;
  padding: 0 5px;
}

i {
  font-size: 14px;
}

.details-sub-header {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px 0px 30px 0px;
}

.details-sub-header-info {
  position: absolute;
  top: 7px;
  left: 2px;
}

.details-sub-header-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: -8px;
  top: -3px;
}

.details-sub-header-buttons i {
  color: #5d5d5d;
  font-size: 18px;
  padding-left: 5px;
}

.details-sub-header-buttons p {
  text-decoration: underline;
  padding: 0 10px;
}

.details-sub-header-buttons button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -3px;
  width: 100px;
  height: 40px;
  border-radius: 12px;
}

.details-sub-header-buttons button:hover {
  background-color: #f7f7f7;
}

.details-images-container {
  margin: 25px 175px;
}

.details-description-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px 175px 0px 175px;
}

.details-description-content-container {
  margin-right: 120px;
}

.details-description-header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.details-description-header-left p {
  font-size: 24px;
  font-weight: lighter;
  margin-top: 10px;
}

.details-description-header-right i {
  position: absolute;
  right: 0px;
  font-size: 68px;
}

.details-description-extras-container {
  border-bottom: 1px solid #ebebeb;
}

.details-description-extras-container i {
  font-size: 24px;
}

.details-description-extras {
  display: flex;
  flex-direction: row;
}

.details-description-extras div {
  font-size: 21px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 45px;
}

.details-container-extras p {
  color: #222222;
}

.details-description-extras-light {
  color: #717171;
  font-weight: lighter;
  margin: 5px 0;
}

.details-description-description-container {
  font-size: 18px;
  margin: 45px 0;
}

.details-reviews-container {
  border-top: 1px solid #ebebeb;
  margin: 0 175px;
}
