.reviews-content-container {
  margin: 45px 0px;
}

.reviews-header-container {
  display: flex;
  flex-direction: column;
}

.reviews-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reviews-header i,
.reviews-header p {
  font-size: 24px;
  font-weight: bold;
}

.reviews-button {
  width: 150px;
  height: 45px;
  background-color: #53bceb;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.reviews-item-header-container {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 45px;
}

.reviews-item-header-left i {
  font-size: 42px;
  color: #717171;
  padding-right: 20px;
  cursor: pointer;
}

.reviews-item-header-right p {
  padding-bottom: 5px;
  font-weight: bold;
}
.reviews-item-header-right p:last-child {
  font-weight: 300;
  color: #717171;
}

.current-buttons-container.manage {
  margin-top: 20px;
}

.current-buttons-container.review {
  margin-top: 10px;
}

.current-buttons-container.review button {
  width: 65px;
  height: 25px;
  font-size: 14px;
  background-color: #53bceb;
  border-radius: 8px;
}

.current-buttons-container.review .delete {
  width: 65px;
  height: 25px;
  font-size: 14px;
  background-color: #eb5357;
  border-radius: 8px;
}
