.reviews-content-container {
  margin: 45px 0px;
}

.reviews-header-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.reviews-header-container .star {
  position: absolute;
  font-size: 21px;
  top: 5px;
}

.reviews-header {
  display: flex;
  flex-direction: column;
}

.reviews-header i {
  font-size: 21px;
}
.reviews-header h2 {
  padding-left: 30px;
}

.reviews-button {
  margin-top: 20px;
  width: 150px;
  height: 45px;
  background-color: #53bceb;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.reviews-item-header-container {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-bottom: 10px;
  margin-top: 26px;
}

.reviews-item-header-left i {
  font-size: 42px;
  color: #717171;
  padding-right: 20px;
  cursor: pointer;
}

.reviews-item-header-left img {
  margin-right: 20px;
  /* position: absolute; */
  /* top: 0px; */
  /* left: 0px; */
  cursor: pointer;
  border-radius: 60px;
  width: 42px;
}

.reviews-item-header-right p {
  padding-bottom: 5px;
  font-weight: bold;
}
.reviews-item-header-right p:last-child {
  font-weight: 300;
  color: #717171;
}

.current-buttons-container.manage {
  margin-top: 20px;
}

.current-buttons-container.review {
  margin-top: 10px;
}

.current-buttons-container.review button {
  background-color: #53bceb;
  border-radius: 8px;
}

.current-buttons-container.review .delete {
  background-color: #eb5357;
}
