.spot-container {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.spot-list {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 45px 30px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 100px;
}

.spot-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 515px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.spot-preview-img {
  height: 74%;
  border-radius: 16px;
  object-fit: cover;
}

.spot-card-info-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin: 15px 0 0 0;
}

.spot-card-rating {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(0, 0, 0);
}

.spot-card-rating i {
  font-size: 14px;
  margin-top: 4px;
  margin-right: 10px;
}

.spot-card-rating p {
  font-size: 18px;
  font-weight: normal;
}

.spot-distance {
  margin-top: 3px;
  font-weight: 300;
  color: #717171;
}

.spot-distance p {
  padding: 1px 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

.spot-price {
  position: absolute;
  top: 82px;
}

.spot-price span {
  font-weight: 300;
}

.current-buttons-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.current-buttons-container button {
  margin-right: 10px;
  width: 65px;
  height: 25px;
  font-size: 14px;
  background-color: #53bceb;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.current-buttons-container button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.current-buttons-container button:nth-child(2) {
  background-color: #eb5357;
  border-radius: 8px;
}

.spot-list.manage {
  margin-top: 25px;
}

.manage-container {
  padding-top: 125px;
  padding-left: 100px;
  padding-right: 100px;
}

.manage-header {
  display: flex;
  flex-direction: column;
}

.manage-header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.manage-header button {
  position: relative;
  padding: 0;
  background-color: #53bceb;
  border-radius: 12px;
  width: 180px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.tooltip {
  position: fixed;
  color: white;
  padding: 6px;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 12px;
  z-index: 9999;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
}

@media (min-width: 1920px) {
  .spot-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1745px) and (max-width: 1919px) {
  .spot-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .spot-container {
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .spot-card {
    height: 505px;
  }
}

@media (min-width: 1536px) and (max-width: 1744px) {
  .spot-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .spot-container {
    padding-top: 45px;
    padding-left: 55px;
    padding-right: 55px;
  }
  .spot-card {
    height: 490px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .spot-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .spot-container {
    padding-top: 35px;
    padding-left: 55px;
    padding-right: 55px;
  }
  .spot-card {
    height: 465px;
  }
}

@media (min-width: 1097.14px) and (max-width: 1279px) {
  .spot-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .spot-container {
    padding-top: 35px;
    padding-left: 55px;
    padding-right: 55px;
  }
  .spot-card {
    height: 440px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1096.13px) {
  .spot-container {
    padding-top: 35px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .spot-card {
    height: 515px;
    padding-bottom: 20px;
  }
}

@media (min-width: 2133px) {
  .spot-container {
    max-width: 1920px;
  }

  .spot-container-container {
    display: flex;
    justify-content: center;
  }
}
