.spot-container {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.spot-list {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 45px 30px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 100px;
}

.spot-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 515px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.spot-preview-img {
  height: 74%;
  border-radius: 16px;
  object-fit: cover;
}

.spot-card-info-container {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: bold;
  position: relative;
  margin: 15px 0 0 0;
}

.spot-card-rating {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(0, 0, 0);
}

.spot-card-rating i {
  font-size: 14px;
  margin-top: 4px;
  margin-right: 10px;
}

.spot-card-rating p {
  font-size: 21px;
  font-weight: normal;
}

.spot-distance {
  font-weight: normal;
  color: #717171;
}

.spot-distance p {
  padding: 1px 0;
  margin-bottom: 2px;
}

.spot-price {
  position: absolute;
  top: 90px;
}

.spot-price span {
  font-weight: 300;
}

.current-buttons-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.current-buttons-container button {
  margin-right: 10px;
  width: 100px;
  height: 35px;
  background-color: #53bceb;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.current-buttons-container button a {
  color: white;
}

.current-buttons-container button:nth-child(2) {
  background-color: #eb5357;
}

@media (min-width: 1920px) {
  .spot-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1745px) and (max-width: 1919px) {
  .spot-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: 40px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (min-width: 1536px) and (max-width: 1744px) {
  .spot-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 80px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .spot-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 60px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (min-width: 1097px) and (max-width: 1279px) {
  .spot-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-top: 50px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
