/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: scroll;
  /* background-color: #313439; */
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  margin: 0;
}

button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.spot-booking-button-container button,
.demo-button-container button,
.form-buttons-container button,
.reviews-button,
.form-button {
  transition: box-shadow 0.1s ease;
}

.current-buttons-container button:hover,
.spot-booking-button-container button:hover,
.demo-button-container button:hover,
.form-buttons-container button:hover,
.reviews-button:hover,
.form-button:hover {
  box-shadow: 2px 2px 3px 1px #adadad;
}

.current-buttons-container button:hover {
  box-shadow: 1px 2px 2px 0.5px #adadad;
}

textarea:focus,
input:focus {
  outline: none;
}

.spot-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 300px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99;
}

@keyframes blinking {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.spot-loader::after {
  content: ". . .";
  font-size: 64px;
  animation: blinking 1.5s infinite;
}

.easter {
  display: none;
  position: fixed;
  /* top: 0; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999999;
  width: 1000px;
  height: 100%;
  background-color: white;
}

.easter img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bookings-list-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 18px;
}

.booking-item {
  display: grid;
  grid-template-columns: repeat(
    6,
    1fr
  ); /* Match the number of columns in the header */
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
  text-align: center;
}

.booking-image {
  width: 250px;
  height: 200px;
}

.booking-name {
  font-weight: bold;
  font-size: large;
}

.main {
  position: relative;
}

.about {
  display: flex;
  position: fixed;
  bottom: 16px;
  gap: 0.5rem;
  background-color: #53bee8;
  width: fit-content;
  color: white;
  padding: 0.5rem;
  justify-content: flex-end;
  user-select: none;
}

.about-item {
  display: flex;
  align-items: center;
}

.about-item.git {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (max-width: 641px) {
  .easter {
    display: block;
  }
  body {
    overflow: hidden;
  }
}

@media (max-width: 641px) {
  .easter {
    display: block;
  }
  body {
    overflow: hidden;
  }
}
