.hidden {
  display: none;
}

.nav-container {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding: 50px 0px;
  background-color: white;
  box-shadow: 0px -5px 5px 2px #969696;
}

.nav-logo {
  align-self: center;
}
.nav-logo img {
  align-self: center;
  margin-left: 90px;
  width: 150px;
}

.nav-right {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-right img {
  width: 25px;
  height: 25px;
  /* top: 0px; */
}

.nav-right-img {
  cursor: pointer;
  position: absolute;
  bottom: -27px;
  right: 200px;
  width: 55px;
  height: 55px;
  border-radius: 32px;
}

.nav-right-img:hover {
  background-color: #f7f7f7;
}

.nav-create-button-container {
  position: absolute;
  right: 225px;
  top: -57px;
  width: 150px;
  height: 55px;
  border-radius: 32px;
  margin: 30px;
}

.nav-create-button-container:hover {
  background-color: #f7f7f7;
}

.nav-create-link {
  /* position: absolute;
  right: 125px;
  bottom: 10px; */
  font-size: 18px;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.nav-button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-self: center;
  margin-right: 90px;
  width: 100px;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  /* cursor: pointer; */
}

.nav-button {
  transition: box-shadow 0.1s ease;
}

.nav-button:hover {
  box-shadow: 0px 3px 5px 1px #dbdbdb;
}

.bars {
  position: absolute;
  left: 18px;
  top: 16px;
  font-size: 18px;
  color: #222222;
}

.profile {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 36px;
  color: #717171;
}

.profile-dropdown {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ebebeb;
  border-radius: 12px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  top: 40px;
  right: 90px;
  width: 300px;
  /* height: 250px; */
  z-index: 999;
}

.profile-dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.profile-button-non-logged-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.profile-dropdown-content-break-line {
  border-bottom: 1px solid #ebebeb;
}

.profile-dropdown-logged-info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  font-size: 18px;
}

.greeings {
  width: 100%;
  height: 100%;
}

.profile-dropdown-logged-info .greetings li {
  padding: 5px;
  text-align: center;
}

.profile-dropdown-logged-info .greetings li:first-child {
  padding-top: 25px;
  text-align: center;
}

.profile-dropdown-logged-info .greetings li:last-child {
  padding-top: 10px;
  text-align: center;
}

.profile-dropdown-logged-info button {
  font-size: 18px;
  padding: 25px 25px;
}

.profile-dropdown-logged-info a {
  text-align: center;
}
.profile-dropdown-logged-info button:hover {
  background-color: #f7f7f7;
  border-radius: 12px;
}

.profile-dropdown-logged-info a:hover {
  background-color: #f7f7f7;
  border-radius: 12px;
}

.profile-dropdown-content li button {
  width: 100%;
  height: 100%;
  padding: 25px 25px;
  text-align: left;
  font-size: 18px;
}

.profile-dropdown-content li button:hover {
  background-color: #f7f7f7;
  border-radius: 12px;
}

.drop-down-nav-link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 1745px) and (max-width: 1919px) {
  .nav-container {
    height: 110px;
  }

  .nav-logo img {
    margin-left: 60px;
  }

  .nav-right {
    right: -30px;
  }

  .nav-create-button-container {
    position: absolute;
    right: 225px;
    top: -52px;
  }

  .nav-right-img {
    cursor: pointer;
    position: absolute;
    bottom: -24px;
    right: 200px;
  }
}

@media (min-width: 1536px) and (max-width: 1744px) {
  .nav-container {
    height: 120px;
  }

  .nav-logo img {
    margin-left: 50px;
  }

  .nav-right {
    right: -35px;
  }

  .nav-create-button-container {
    position: absolute;
    right: 225px;
    top: -47px;
  }

  .nav-right-img {
    cursor: pointer;
    position: absolute;
    bottom: -19px;
    right: 200px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .nav-container {
    height: 110px;
  }

  .nav-logo img {
    margin-left: 50px;
  }

  .nav-right {
    right: -35px;
  }

  .nav-create-button-container {
    position: absolute;
    right: 225px;
    top: -52px;
  }

  .nav-right-img {
    position: absolute;
    bottom: -24px;
    right: 200px;
  }
}

@media (min-width: 1097px) and (max-width: 1279px) {
  .nav-container {
    height: 110px;
  }

  .nav-logo img {
    margin-left: 50px;
  }

  .nav-right {
    right: -35px;
  }

  .nav-create-button-container {
    position: absolute;
    right: 225px;
    top: -52px;
  }

  .nav-right-img {
    cursor: pointer;
    position: absolute;
    bottom: -25px;
    right: 200px;
  }
}

@media (min-width: 2133px) {
  .nav-container {
  }
}
